<div class="row" >
  <div class ="col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10">
  <h2>Benvenuti da Food Emperors</h2><br>
  <p align="justify"> The main goal of this project is to provide a system to manage the illumination network of a Smart City.<br><br>
  <b>Light Control-Monitoring System</b> is made-up of three main sections:
  <ul>
    <li><p align="justify"><b>Monitoring System:</b> through this section it is possible to see the latest faulty street lamps in the network, the oldest street lamps, or statistics over power consumption to plan maintenance operations. </p></li>
    <li><p align="justify"><b>Control System:</b> in this section it is possible to see the latest operations made to control the network of street lights of the city in automatic way, as the light intensity adaptation according to the luminous intensity of natural light or the intensity of vehicular traffic.</p></li>
    <li><p align="justify"><b>Lamps Settings:</b> section provides the capability to manage the network of street lights, adding or removing a lamp or a set of lamps.</p></li>
  </ul>
  </p>
  </div>
</div>
